<!DOCTYPE html>
<html> <!--lang="{S_USER_LANG}"-->
<head>
	<meta charset="utf-8" />
	<title>{TITLE}</title>	
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache, must-revalidate" />
	<meta name="author" content="(c) FlylinkDC Team | http://flylinkdc.com">
	<!-- <meta http-equiv="content-language" content="{S_USER_LANG}" /> -->
	<meta name="document-state" content="Dynamic" />
	<link href="{THEME_PATH}/files/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="{THEME_PATH}/files/webserver.css" rel="stylesheet" media="screen" />
	{META}
	<!--
	<script type="text/javascript" src="jquery-ui.js"></script>
	<script type="text/javascript" src="{THEME_PATH}/files/jquery-min.js"></script>
	<script type="text/javascript" src="{THEME_PATH}/files/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{THEME_PATH}/files/magneto.js"></script>
	-->	
</head>
<body>
<a name="up"/>