	<div class="login">
		<h1>{APPNAME}</h1>
		<table>
			<tr>
				<td>
					<div class="logo"></div>
				</td>
				<td>
				<div>				
					<form method="get" action="index.htm" enctype="multipart/form-data">
							<br />
							<table>
								<tr>
									<td align="right">{LANG_USERNAME}</td>
									<td><input type="text" name="user" size=20 /></td>
								</tr>
								<tr>
									<td align="right">{LANG_PASSWORD}</td>
									<td><input type="password" name="pass" size=20 /></td>
								</tr>
							</table>
							<div align="right">
								<input class="button" type="submit" value="{LANG_LOGIN}"/>
							</div>
					</form>
				</div>					
				</td>
			</tr>
		</table>