<div class="content">
	<h3>{PAGENAME}</h3>
		<form action='settings.htm'>
			<div class="settings">
				<h2>{LANG_SHARE}</h2>
					<input type=hidden name=refresh value=1 />
					<input class=button type=submit value="{LANG_BUTTON_SHARE_REFRESH}" />
			</div>
		</form>
		<form action='settings.htm'>
			<div class="settings">
				<input type=hidden name=purgetth value=1 />
				<input class=button type=submit value="{LANG_BUTTON_FILELIST_REFRESH}" />
			</div>
		</form>
		<br />
		<form action='settings.htm'>
			<div class="settings">
				<div id="webserver">
					<h2>{LANG_WEBSERVER}</h2>
						<table>
							<tr>
								<td>
									{LANG_WEBSERVER_SEARCHSIZE} : <input type='text' name='webss' size='5' value="{S_WEBSERVER_SEARCHSIZE}" />
								</td>
							</tr>
							<tr>
								<td>
									{LANG_WEBSERVER_SEARCHPAGESIZE} : <input type='text' name='websps' size='5' value="{S_WEBSERVER_SEARCHPAGESIZE}" />
								</td>
							</tr>
							<tr>
								<td>
									<span><input type="checkbox" name="alch_d_d" {S_CHECKED_WEBSERVER_ALLOW_CHANGE_DOWNLOAD_DIR} /> {LANG_WEBSERVER_ALLOW_CHANGE_DOWNLOAD_DIR}<br />({LANG_WEBSERVER_ONLY_POWER_USER_MESSAGE})</span>
								</td>
							</tr>
						</table>
					<br />
				</div>
	
				<div id="speed">
					<h2>{LANG_TRANSFER_LIMITS}</h2>
						<table>
							<tr>
								<td></td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" name="speedlimit" {S_CHECKED_THROTTLE_ENABLE} /> {LANG_SETCZDC_ENABLE_LIMITING}
								</td>
							</tr>
							<tr>
								<td class="righter">
									{LANG_SETCZDC_DOWNLOAD}	: <input type=text name=downspeed size=5 value="{S_SETCZDC_DOWNLOAD}" /> {LANG_KBPS} &nbsp;&nbsp;&nbsp;
									{LANG_SETCZDC_UPLOAD} : <input type=text name=upspeed size=5 value="{S_SETCZDC_UPLOAD}" /> {LANG_KBPS}
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" name="speedlimitalt" {S_CHECKED_TIME_DEPENDENT_THROTTLE} /> {LANG_SETCZDC_ALTERNATE_LIMITING}
								</td>
							</tr>
							<tr>
								<td class="righter">
									{LANG_SETCZDC_DOWNLOAD} : <input type=text name=downspeedt size=5 value="{S_SETCZDC_DOWNLOAD_T}" /> {LANG_KBPS} &nbsp;&nbsp;&nbsp;
									{LANG_SETCZDC_UPLOAD} : <input type=text name=upspeedt size=5 value="{S_SETCZDC_UPLOAD_T}" /> {LANG_KBPS}
								</td>
							</tr>
							<tr>
								<td class="righter">
									{LANG_SETCZDC_ALTERNATE_LIMITING} : <input type=text name=altspeedtimestart size=5 value="{S_SETCZDC_ALTERNATE_LIMITING}:00" /> h. 
									{LANG_SETCZDC_TO} : <input type=text name=altspeedtimestop size=5 value="{S_SETCZDC_TO}:00" /> h.
								</td>
							</tr>
						</table>
					<br />
				</div>

						<div id=subm>
							<input class=button type=submit value="{LANG_OK}" />
							<input class='button' type='reset' value="{LANG_CANCEL}" />
						</div>
						<br />
			</div>
		</form>
</div>