# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.lastbuildstate
*.tlog
*.idb

/FlyFeatures.vcxproj.user

/*.opensdf
/*.sdf
/*.suo
/*.7z

GdiOle.res

/GdiOle/GdiOle.vcxproj.user

/GdiOle/GdiOle_i.c

/GdiOle/GdiOle_i.h

/GdiOle/GdiOle_p.c

/MediaInfoLib/MediaInfoLib.vcxproj.user

/XMLParser/XMLParser.vcxproj.user

/Zenlib/ZenLib.vcxproj.user

/boost-regex.vcxproj.user

/bzip2.vcxproj.user

/client.vcxproj.user

/compiled/FlylinkDC_Debug.exe

/compiled/*.ilk

/compiled/*.pdb

/compiled/FlylinkDC_Debug_x64.exe

/dht/dht.vcxproj.user

/flylinkdc.vcxproj.user

/ipch/flylinkdc-15238894/*.ipch

/ipch/mediainfolib-e4c79d96/*.ipch

/miniupnpc/miniupnpc.vcxproj.user

/natpmp/natpmp.vcxproj.user

vc10
vc11
vc14
vc15
vc17

/zlib.vcxproj.user

/compiled/Settings/*.sqlite

/compiled/Settings/FlylinkDCShutdownMarker.txt

/compiled/Settings/ADLSearch.xml

/compiled/Settings/DCPlusPlus.xml

/compiled/Settings/Favorites.xml

/compiled/Settings/HubLists/*.bz2

/compiled/Settings/Logs

/compiled/Settings/tth-history.leveldb

/ipch

/compiled/FlylinkDC.exe

/compiled/FlylinkDC_x64.exe
/compiled/Settings/Emptyfiles.xml.bz2
/compiled/Settings/*.sqlite-shm
/compiled/Settings/*.sqlite-wal
/compiled/Settings/*.sqlite-journal
/compiled/Settings/IPTrust.ini
/compiled/Settings/common/P2PGuard.ini
/compiled/Settings/P2PGuard.ini
/compiled/update


/compiled/Settings/files.xml.bz2

/client/mrgtmp*

FlylinkDC-*.7z
/client/StringDefs.cpp
/compiled/UpdateTools/FlyUpdate/FlyUpdate.exe
/compiled/Settings/common/CustomLocations.bmp
/compiled/Settings/common/CustomLocations.ini
/compiled/UpdateTools/FlyUpdate/commit_update.bat

/openssl/openssl.vcxproj.user
/compiled/*.dmp
/*.opendb
/*.db
/compiled/flylinkdc.exp
/compiled/flylinkdc_x64.exp
