# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/FlyFeatures.vcxproj.user

/*.opensdf
/*.sdf
/*.suo
/*.7z
*.vcxproj.user

/GdiOle/GdiOle_i.c

/GdiOle/GdiOle_i.h

/GdiOle/GdiOle_p.c

vc10
vc11
vc14
vc15
vc17

/ipch

/compiled/FlylinkDC*.exe

/compiled/Settings/*.sqlite
/compiled/Settings/FlylinkDCShutdownMarker.txt
/compiled/Settings/ADLSearch.xml
/compiled/Settings/DCPlusPlus.xml
/compiled/Settings/Favorites.xml
/compiled/Settings/Logs
/compiled/Settings/tth-history.leveldb
/compiled/Settings/*.sqlite-shm
/compiled/Settings/*.sqlite-wal
/compiled/Settings/*.sqlite-journal
/compiled/Settings/IPTrust.ini
/compiled/Settings/common/P2PGuard.ini
/compiled/Settings/P2PGuard.ini
/compiled/Settings/common/CustomLocations.bmp
/compiled/Settings/common/CustomLocations.ini
/compiled/Settings/Certificates/client.crt
/compiled/Settings/Certificates/client.key

/compiled/update

/client/mrgtmp*

/client/StringDefs.cpp
/compiled/UpdateTools/FlyUpdate/FlyUpdate.exe
/compiled/UpdateTools/FlyUpdate/commit_update.bat

/compiled/*.exp

*.tlog
*.idb
*.res
*.dmp
*.ipch
*.VC.db
*.ilk
*.opendb
*.db
*.7z
*.bz2
*.log
*.lib
*.pdb
*.db-shm
*.db-wal
.suo
merge-vendors.bat

/lua/ARM64/Debug
/lua/ARM64/Debug
/ARM64/Debug
/ARM
/ARM
/lua/ARM
/lua/Debug
/lua/x64/Debug
/ARM64/Release
/Debug/lua.lib
/lua/ARM64/Release
/lua/Release
/Release
/x64
/lua/x64/Release
